h1 {
  text-decoration: underline;
}

nav {
  position: sticky;
  top: 0;
  background-color: gray;
}

.dropdown {
  
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-index: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}